In [2]:
import pandas as pd
df=pd.read_csv("All_provisions_bilateral_Jan_2021.csv")
df

,iso1,iso2,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_49,TF_prov_50,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check
0,ABW,AUT,1958,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,NaN
1,ABW,AUT,1959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
2,ABW,AUT,1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
3,ABW,AUT,1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
4,ABW,AUT,1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547315,ZWE,ZMB,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547316,ZWE,ZMB,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547317,ZWE,ZMB,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547318,ZWE,ZMB,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547319,ZWE,ZMB,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0

In [3]:
# remove data before 1990
df.drop(df[df.year<1990].index,inplace=True)
df

,iso1,iso2,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_49,TF_prov_50,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check
32,ABW,AUT,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
33,ABW,AUT,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
34,ABW,AUT,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
35,ABW,AUT,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
36,ABW,AUT,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547315,ZWE,ZMB,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547316,ZWE,ZMB,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547317,ZWE,ZMB,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547318,ZWE,ZMB,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547319,ZWE,ZMB,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0

In [68]:
depthZero=df[df.depth==0].iso1.unique()
depthZero

array(['ABW', 'AFG', 'AGO', 'AIA', 'ALB', 'AND', 'ANT', 'ARE', 'ARG',
       'ARM', 'ATF', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL', 'BEN', 'BFA',
       'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ', 'BMU', 'BOL',
       'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN', 'CHE', 'CHL',
       'CHN', 'CIV', 'CMR', 'COD', 'COG', 'COK', 'COL', 'COM', 'CPV',
       'CRI', 'CUB', 'CYM', 'CYP', 'CZE', 'DEU', 'DJI', 'DMA', 'DNK',
       'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST', 'ETH', 'FIN',
       'FJI', 'FLK', 'FRA', 'FRO', 'FSM', 'GAB', 'GBR', 'GEO', 'GHA',
       'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GRL', 'GTM', 'GUY',
       'HKG', 'HND', 'HRV', 'HUN', 'IDN', 'IND', 'IOT', 'IRL', 'IRN',
       'IRQ', 'ISL', 'ISR', 'ITA', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN',
       'KGZ', 'KHM', 'KIR', 'KNA', 'KOR', 'KWT', 'LAO', 'LBN', 'LBR',
       'LBY', 'LCA', 'LIE', 'LKA', 'LSO', 'LTU', 'LUX', 'LVA', 'MAC',
       'MAR', 'MDA', 'MDG', 'MDV', 'MEX', 'MKD', 'MLI', 'MLT', 'MMR',
       'MNE', 'MNG', 'MOZ', 'MSR', 'MUS', 'MWI', 'MYS', 'NAM', 'NCL',
       'NER', 'NGA', 'NIC', 'NIU', 'NLD', 'NOR', 'NPL', 'NRU', 'NZL',
       'OMN', 'PAK', 'PAN', 'PCN', 'PER', 'PHL', 'PNG', 'POL', 'PRK',
       'PRT', 'PRY', 'PSE', 'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAU',
       'SDN', 'SEN', 'SGP', 'SGS', 'SHN', 'SLB', 'SLE', 'SLV', 'SMR',
       'SPM', 'SRB', 'SSD', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ', 'SYC',
       'SYR', 'TCA', 'TCD', 'TGO', 'THA', 'TJK', 'TKM', 'TON', 'TTO',
       'TUN', 'TUR', 'TUV', 'TWN', 'TZA', 'UGA', 'UKR', 'URY', 'USA',
       'UZB', 'VCT', 'VEN', 'VGB', 'VNM', 'VUT', 'WLF', 'WSM', 'YEM',
       'ZAF', 'ZMB', 'ZWE'], dtype=object)

In [69]:
df.drop(df[df.depth==0].index,inplace=True)
df

,iso1,iso2,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_49,TF_prov_50,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check
37,ABW,AUT,1995,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1,1,0.0,0.0,76,76.0
38,ABW,AUT,1996,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1,1,0.0,0.0,76,0.0
39,ABW,AUT,1997,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1,1,0.0,0.0,76,0.0
40,ABW,AUT,1998,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1,1,0.0,0.0,76,0.0
41,ABW,AUT,1999,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1,1,0.0,0.0,76,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547315,ZWE,ZMB,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547316,ZWE,ZMB,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547317,ZWE,ZMB,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547318,ZWE,ZMB,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
547319,ZWE,ZMB,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0

In [70]:
df.check.unique()

array([  76.,    0.,   40.,   45.,   14.,  179.,   96.,   39., -122.,
        -39.,  -83.,   32.,  180.,  173.,  194.,    7.,   93.,   47.,
         12.,   29.,  204.,  148.,   55.,  151.,  117.,  -71.,  237.,
          2.,  -82.,    4.,  -49.,  218.,  120.,  -53.,  217.,  -55.,
         46.,    3.,  -54.,  -50.,  280.,  312.,  508.,  349.,  251.,
        223.,  360.,  233.,  434.,   75.,  259.,  394.,  314.,   80.,
        232.,  212.,  111.,  339.,  213.,  -45.,  168.,  226., -164.,
        322.,   99.,  129.,  418.,  411.,  154.,  152., -152.,  112.,
         79.,  398.,  172.,  122.,  146.,  182.,  413.,  115.,  244.,
          1.,  143.,  424.,   92.,  140.,  192.,  128.,   36.,  142.,
        130.,  470.,   41.,  116.,  -46.,   23.,   -9.,  -87.,  167.,
        165.,  107.,   38.,   98.,   18.,    5.,   17.,   13.,   -1.,
        245.,  246.,  227.,   53.,  191.,   15.,  199.,   59.,   28.,
        132.,   11.,  -38.,  293.,  200.,  150.,  189.,  235.,  345.,
        389.,  124.,  170.,  273.,   43.,  126.,   57.,  307.,  271.,
        423.,  174.,  379.,  161.,  381.,  364.,  210.,  252.,  352.,
        375.,   21.,  144.,  316.,  164.,  254.,  309.,  283.,  183.,
        323.,  149.,   27.,  178.,  175.,  207.,  260.,  318.,  340.,
        248.,   24.,  100.,  426.,  166.,  162.,  241.,  285.,  308.,
        270.,  292.,  366.,   85.,  435.,  197.,  250.,   71.,  131.,
        278.,   56.,    8.,  190.,  240.,  372.,  211.,  203.,  263.,
        325.,  317.,   67.,  156.,  138.,  105., -170.,   87.,   86.,
          6.,   42.,  187.,  229.,  249.,   19.,   44.,  264.,  141.,
        219.,   25.,   72.,   63.,   52.,  159.,   95.,  137.,   89.,
         84.,  306.,  228.,  261.,  327.,  346.,  295.,  284.,  195.,
        121.,  -41.,   10.,  -57.,   35.,  258.,  324.,   37.,  361.,
          9.,   50.,  104.,  286.,  -51.,  500.,  255.,   94.,   91.,
        153., -120.,   58.,  355.,  220.,  388.,  181.,  208.,  193.,
        358.,  297.,  330.,  291.,  221.,  289.,  267.,  125.,   31.,
         33.,   34.,   -8.,  334.,  108.,  -44.])

In [7]:
df1 = pd.read_excel("Provision Names.xlsx")
df1

,Policy Area,Coding,Variable,Type,Variable Name,Description,Category,Sub-category,Substante,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Anti-dumping and Countervailing Duties,Anti-dumping - ad1,prov2,Mutually Exclusive,AD_prov_02,Anti-dumping actions disallowed,Corollary,Objectives,Corollary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Anti-dumping and Countervailing Duties,Anti-dumping - ad2,prov3,Mutually Exclusive,AD_prov_03,Anti-dumping actions allowed but with no speci...,Corollary,Objectives,Corollary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Anti-dumping and Countervailing Duties,Anti-dumping - ad3,prov4,Mutually Exclusive,AD_prov_04,Anti-dumping actions allowed and with specific...,Corollary,Objectives,Corollary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Anti-dumping and Countervailing Duties,Anti-dumping - ad3-a-1,prov5,Binary,AD_prov_05,- export price less than comparable price wh...,Essential,Scope and definitions,Non-Substantive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Anti-dumping and Countervailing Duties,Anti-dumping - ad3-a-2,prov6,Binary,AD_prov_06,- if there are no sales in the normal course...,Essential,Scope and definitions,Non-Substantive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932,Trade Facilitation and Customs,Trade Facitlitation - prov_48,prov933,Binary,TF_prov_48,Origin verification measures,Essential,Procedural requirements,Non-Substantive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
933,Trade Facilitation and Customs,Trade Facitlitation - prov_49,prov934,Binary,TF_prov_49,Support through advisory services etc,Corollary,Cooperation,Corollary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
934,Trade Facilitation and Customs,Trade Facitlitation - prov_50,prov935,Binary,TF_prov_50,Establishment of structures,Corollary,Institutional framework,Corollary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
935,Trade Facilitation and Customs,Trade Facitlitation - prov_51,prov936,Binary,TF_prov_51,Establishment of a mechanism,Corollary,Institutional framework,Corollary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,Trade Facilitation and Customs,Trade Facitlitation - prov_52,prov937,Binary,TF_prov_52,Inter-operability of single window,Corollary,Procedural requirements,Corollary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df1["Policy Area"].unique()

array(['Anti-dumping and Countervailing Duties', 'Competition Policy',
       'Environmental Laws', 'Export Taxes', 'Investment',
       'Intellectual Property Rights', 'Labor Market Regulations',
       'Visa and Asylum', 'Movement of Capital', 'Public Procurement',
       'Rules of Origin', 'Services', 'Sanitary and Phytosanitary',
       'State-Owned Enterprises', 'Subsidies',
       'Technical Barriers to Trade', 'Trade Facilitation and Customs'],
      dtype=object)

In [9]:
df[df['cvd'].isnull() & df['anti_dumping'].isnull()]

,iso1,iso2,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_49,TF_prov_50,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check
38137,BGD,BTN,1995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,18.0
38138,BGD,BTN,1996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,0.0
38139,BGD,BTN,1997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,0.0
38140,BGD,BTN,1998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,0.0
38141,BGD,BTN,1999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395203,PAK,NPL,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,0.0
395204,PAK,NPL,2002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,0.0
395205,PAK,NPL,2003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,0.0
395206,PAK,NPL,2004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,0.0
395207,PAK,NPL,2005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,NaN,NaN,18,0.0

In [10]:
df['PTA_mapped'].unique()

array([1], dtype=int64)

In [11]:
df['cvd'].unique()

array([ 0.,  1., nan])

In [12]:
df[(df['cvd']==1) & (df['anti_dumping']==0)]

,iso1,iso2,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_49,TF_prov_50,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check
38148,BGD,BTN,2006,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,0.0,1.0,58,40.0
38149,BGD,BTN,2007,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,0.0,1.0,58,0.0
38150,BGD,BTN,2008,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,0.0,1.0,58,0.0
38151,BGD,BTN,2009,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,0.0,1.0,58,0.0
38152,BGD,BTN,2010,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1,1,0.0,1.0,58,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520375,UKR,NOR,2013,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1,1,0.0,1.0,323,0.0
520376,UKR,NOR,2014,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1,1,0.0,1.0,323,0.0
520377,UKR,NOR,2015,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1,1,0.0,1.0,323,0.0
520378,UKR,NOR,2016,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1,1,0.0,1.0,323,0.0
520379,UKR,NOR,2017,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1,1,0.0,1.0,323,0.0

In [ ]:
id = pd.read_excel("GVC_gravity.xlsx",sheet_name='Sheet1')
id

In [ ]:
d1990=pd.read_excel("GVC_gravity.xlsx",sheet_name='1990')
d1991=pd.read_excel("GVC_gravity.xlsx",sheet_name='1991')
d1992=pd.read_excel("GVC_gravity.xlsx",sheet_name='1992')
d1993=pd.read_excel("GVC_gravity.xlsx",sheet_name='1993')
d1994=pd.read_excel("GVC_gravity.xlsx",sheet_name='1994')
d1995=pd.read_excel("GVC_gravity.xlsx",sheet_name='1995')
d1996=pd.read_excel("GVC_gravity.xlsx",sheet_name='1996')
d1997=pd.read_excel("GVC_gravity.xlsx",sheet_name='1997')
d1998=pd.read_excel("GVC_gravity.xlsx",sheet_name='1998')
d1999=pd.read_excel("GVC_gravity.xlsx",sheet_name='1999')
d2000=pd.read_excel("GVC_gravity.xlsx",sheet_name='2000')
d2001=pd.read_excel("GVC_gravity.xlsx",sheet_name='2001')
d2002=pd.read_excel("GVC_gravity.xlsx",sheet_name='2002')
d2003=pd.read_excel("GVC_gravity.xlsx",sheet_name='2003')
d2004=pd.read_excel("GVC_gravity.xlsx",sheet_name='2004')
d2005=pd.read_excel("GVC_gravity.xlsx",sheet_name='2005')
d2006=pd.read_excel("GVC_gravity.xlsx",sheet_name='2006')
d2007=pd.read_excel("GVC_gravity.xlsx",sheet_name='2007')
d2008=pd.read_excel("GVC_gravity.xlsx",sheet_name='2008')
d2009=pd.read_excel("GVC_gravity.xlsx",sheet_name='2009')
d2010=pd.read_excel("GVC_gravity.xlsx",sheet_name='2010')
d2011=pd.read_excel("GVC_gravity.xlsx",sheet_name='2011')
d2012=pd.read_excel("GVC_gravity.xlsx",sheet_name='2012')
d2013=pd.read_excel("GVC_gravity.xlsx",sheet_name='2013')
d2014=pd.read_excel("GVC_gravity.xlsx",sheet_name='2014')
d2015=pd.read_excel("GVC_gravity.xlsx",sheet_name='2015')
d2016=pd.read_excel("GVC_gravity.xlsx",sheet_name='2016')
d2017=pd.read_excel("GVC_gravity.xlsx",sheet_name='2017')
d2018=pd.read_excel("GVC_gravity.xlsx",sheet_name='2018')
d2019=pd.read_excel("GVC_gravity.xlsx",sheet_name='2019')

In [17]:
d1990

        id  partner      country          gvc  year
0        1        1  Afghanistan   92620.7000  1990
1        1        2  Afghanistan      12.5021  1990
2        1        3  Afghanistan      20.9568  1990
3        1        4  Afghanistan      10.8051  1990
4        1        5  Afghanistan      11.6432  1990
...    ...      ...          ...          ...   ...
36095  190      186     Zimbabwe     176.2640  1990
36096  190      187     Zimbabwe      20.5745  1990
36097  190      188     Zimbabwe    4401.8100  1990
36098  190      189     Zimbabwe  667111.0000  1990
36099  190      190     Zimbabwe       0.0000  1990

[36100 rows x 5 columns]

In [18]:
d1991

        id  partner      country       gvc  year
0        1        1  Afghanistan   86000.0  1991
1        1        2  Afghanistan      10.5  1991
2        1        3  Afghanistan      20.8  1991
3        1        4  Afghanistan      10.3  1991
4        1        5  Afghanistan      11.1  1991
...    ...      ...          ...       ...   ...
36095  190      186     Zimbabwe     157.0  1991
36096  190      187     Zimbabwe      32.8  1991
36097  190      188     Zimbabwe    3550.0  1991
36098  190      189     Zimbabwe  704000.0  1991
36099  190      190     Zimbabwe       0.0  1991

[36100 rows x 5 columns]

In [22]:
d1991=pd.concat([d1990,d1991])
d1992=pd.concat([d1991,d1992])
d1993=pd.concat([d1992,d1993])
d1994=pd.concat([d1993,d1994])
d1995=pd.concat([d1994,d1995])
d1996=pd.concat([d1995,d1996])
d1997=pd.concat([d1996,d1997])
d1998=pd.concat([d1997,d1998])
d1999=pd.concat([d1998,d1999])
d2000=pd.concat([d1999,d2000])
d2001=pd.concat([d2000,d2001])
d2002=pd.concat([d2001,d2002])
d2003=pd.concat([d2002,d2003])
d2004=pd.concat([d2003,d2004])
d2005=pd.concat([d2004,d2005])
d2006=pd.concat([d2005,d2006])
d2007=pd.concat([d2006,d2007])
d2008=pd.concat([d2007,d2008])
d2009=pd.concat([d2008,d2009])
d2010=pd.concat([d2009,d2010])
d2011=pd.concat([d2010,d2011])
d2012=pd.concat([d2011,d2012])
d2013=pd.concat([d2012,d2013])
d2014=pd.concat([d2013,d2014])
d2015=pd.concat([d2014,d2015])
d2016=pd.concat([d2015,d2016])
d2017=pd.concat([d2016,d2017])
d2018=pd.concat([d2017,d2018])
d2019=pd.concat([d2018,d2019])
d2019

        id  partner      country          gvc  year
0        1        1  Afghanistan   92620.7000  1990
1        1        2  Afghanistan      12.5021  1990
2        1        3  Afghanistan      20.9568  1990
3        1        4  Afghanistan      10.8051  1990
4        1        5  Afghanistan      11.6432  1990
...    ...      ...          ...          ...   ...
36095  190      186     Zimbabwe    1630.0000  2019
36096  190      187     Zimbabwe     394.0000  2019
36097  190      188     Zimbabwe     243.0000  2019
36098  190      189     Zimbabwe  131000.0000  2019
36099  190      190     Zimbabwe       6.7500  2019

[1083000 rows x 5 columns]

In [29]:
lst=[d1990,d1991,d1992,d1993,d1994,d1995,d1996,d1997,d1998,d1999,d2000,d2001,d2002,d2003,d2004,d2005,d2006,d2007,d2008,d2009,d2010,d2011,d2012,d2013,d2014,d2015,d2016,d2017,d2018]
del d1990,d1991,d1992,d1993,d1994,d1995,d1996,d1997,d1998,d1999,d2000,d2001,d2002,d2003,d2004,d2005,d2006,d2007,d2008,d2009,d2010,d2011,d2012,d2013,d2014,d2015,d2016,d2017,d2018
del lst

In [101]:
%whos DataFrame

Variable        Type         Data/Info
--------------------------------------
country_codes   DataFrame        Code Value         De<...>n\n[251 rows x 2 columns]
d2019           DataFrame                     imp     <...>[698992 rows x 4 columns]
df              DataFrame                 imp      exp<...>07536 rows x 946 columns]
res             DataFrame                 imp      exp<...>67776 rows x 949 columns]

In [33]:
d2019.drop('id',axis=1,inplace=True)
d2019.reset_index(drop=True,inplace=True)
d2019

         partner      country          gvc  year
0              1  Afghanistan   92620.7000  1990
1              2  Afghanistan      12.5021  1990
2              3  Afghanistan      20.9568  1990
3              4  Afghanistan      10.8051  1990
4              5  Afghanistan      11.6432  1990
...          ...          ...          ...   ...
1082995      186     Zimbabwe    1630.0000  2019
1082996      187     Zimbabwe     394.0000  2019
1082997      188     Zimbabwe     243.0000  2019
1082998      189     Zimbabwe  131000.0000  2019
1082999      190     Zimbabwe       6.7500  2019

[1083000 rows x 4 columns]

In [41]:
lst=[res]
del res
del lst

In [44]:
d2019=d2019.merge(id,left_on='partner',right_on='id',how='left')

In [54]:
d2019.drop(['id','partner'],axis=1,inplace=True)
d2019.rename(columns={'country_x':'imp','country_y':'exp'},inplace=True)
d2019=d2019[['imp','exp','year','gvc']]
d2019

                 imp            exp  year          gvc
0        Afghanistan    Afghanistan  1990   92620.7000
1        Afghanistan        Albania  1990      12.5021
2        Afghanistan        Algeria  1990      20.9568
3        Afghanistan        Andorra  1990      10.8051
4        Afghanistan         Angola  1990      11.6432
...              ...            ...   ...          ...
1082995     Zimbabwe       Viet Nam  2019    1630.0000
1082996     Zimbabwe          Yemen  2019     394.0000
1082997     Zimbabwe         Zambia  2019     243.0000
1082998     Zimbabwe       Zimbabwe  2019  131000.0000
1082999     Zimbabwe  Rest of World  2019       6.7500

[1083000 rows x 4 columns]

In [55]:
d2019.to_csv("gvc_data.csv")

In [57]:
d2019.imp.unique().size

190

In [5]:
country_codes = pd.read_excel("iso_3digit_alpha_country_codes.xls")
country_codes

    Code Value         Definition
0          AFG        Afghanistan
1          ALA      Aland Islands
2          ALB            Albania
3          DZA            Algeria
4          ASM     American Samoa
..         ...                ...
246        WLF  Wallis and Futuna
247        ESH     Western Sahara
248        YEM              Yemen
249        ZMB             Zambia
250        ZWE           Zimbabwe

[251 rows x 2 columns]

In [6]:
df=df.merge(country_codes,left_on='iso2',right_on='Code Value',how='left')
df.drop(['iso2','Code Value'],axis=1,inplace=True)
df.rename(columns={'Definition':'exp'},inplace=True)
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df=df[cols]

,iso1,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,AD_prov_08,...,TF_prov_50,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check,exp
0,ABW,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,Austria
1,ABW,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,Austria
2,ABW,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,Austria
3,ABW,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,Austria
4,ABW,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,Austria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255411,ZWE,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,Zambia
255412,ZWE,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,Zambia
255413,ZWE,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,Zambia
255414,ZWE,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,Zambia
255415,ZWE,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,Zambia

In [8]:
df=df.merge(country_codes,left_on='iso1',right_on='Code Value',how='left')
df.drop(['iso1','Code Value'],axis=1,inplace=True)
df.rename(columns={'Definition':'imp'},inplace=True)
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df=df[cols]
df

,imp,exp,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_49,TF_prov_50,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check
0,Aruba,Austria,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
1,Aruba,Austria,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
2,Aruba,Austria,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
3,Aruba,Austria,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
4,Aruba,Austria,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255411,Zimbabwe,Zambia,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
255412,Zimbabwe,Zambia,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
255413,Zimbabwe,Zambia,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
255414,Zimbabwe,Zambia,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
255415,Zimbabwe,Zambia,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0

In [9]:
df.year.unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)

In [11]:
d2019=pd.read_csv("gvc_data.csv")
d2019.drop('Unnamed: 0',axis=1,inplace=True)
d2019

                 imp            exp  year          gvc
0        Afghanistan    Afghanistan  1990   92620.7000
1        Afghanistan        Albania  1990      12.5021
2        Afghanistan        Algeria  1990      20.9568
3        Afghanistan        Andorra  1990      10.8051
4        Afghanistan         Angola  1990      11.6432
...              ...            ...   ...          ...
1082995     Zimbabwe       Viet Nam  2019    1630.0000
1082996     Zimbabwe          Yemen  2019     394.0000
1082997     Zimbabwe         Zambia  2019     243.0000
1082998     Zimbabwe       Zimbabwe  2019  131000.0000
1082999     Zimbabwe  Rest of World  2019       6.7500

[1083000 rows x 4 columns]

In [30]:
lst=df['imp'].unique()
d2019=d2019[d2019['imp'].isin(lst)]
d2019.drop(d2019[d2019.year>2017].index,inplace=True)
d2019

                 imp            exp  year          gvc
0        Afghanistan    Afghanistan  1990   92620.7000
1        Afghanistan        Albania  1990      12.5021
2        Afghanistan        Algeria  1990      20.9568
3        Afghanistan        Andorra  1990      10.8051
4        Afghanistan         Angola  1990      11.6432
...              ...            ...   ...          ...
1082995     Zimbabwe       Viet Nam  2019    1630.0000
1082996     Zimbabwe          Yemen  2019     394.0000
1082997     Zimbabwe         Zambia  2019     243.0000
1082998     Zimbabwe       Zimbabwe  2019  131000.0000
1082999     Zimbabwe  Rest of World  2019       6.7500

[900600 rows x 4 columns]

In [35]:
lst=df['exp'].unique()
d2019=d2019[d2019['exp'].isin(lst)]
d2019

                 imp          exp  year          gvc
0        Afghanistan  Afghanistan  1990   92620.7000
1        Afghanistan      Albania  1990      12.5021
2        Afghanistan      Algeria  1990      20.9568
3        Afghanistan      Andorra  1990      10.8051
4        Afghanistan       Angola  1990      11.6432
...              ...          ...   ...          ...
1010793     Zimbabwe      Vanuatu  2017     363.0000
1010794     Zimbabwe    Venezuela  2017    6480.0000
1010796     Zimbabwe        Yemen  2017     359.0000
1010797     Zimbabwe       Zambia  2017     222.0000
1010798     Zimbabwe     Zimbabwe  2017  131000.0000

[698992 rows x 4 columns]

In [47]:
df.imp.unique().size

158

In [44]:
d2019.imp.unique().size

158

In [46]:
df=df[df['imp'].isin(d2019['imp'].unique())]
df

,imp,exp,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_49,TF_prov_50,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check
0,Aruba,Austria,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
1,Aruba,Austria,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
2,Aruba,Austria,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
3,Aruba,Austria,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
4,Aruba,Austria,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255411,Zimbabwe,Zambia,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
255412,Zimbabwe,Zambia,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
255413,Zimbabwe,Zambia,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
255414,Zimbabwe,Zambia,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0
255415,Zimbabwe,Zambia,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0

In [76]:
import numpy as np
df['exist']=np.where(d2019[(d2019['imp']==im) & ((d2019['exp']==ex) & (d2019['year']==yr))].shape[0]==0, 'No','Yes')

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [81]:
res=pd.merge(df,d2019,on=['imp','exp','year'],how='left',indicator='exist')
res['exist']=np.where(res['exist']=='both',True,False)
res

,imp,exp,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check,gvc,exist
0,Aruba,Austria,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,117.386,True
1,Aruba,Austria,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,141.000,True
2,Aruba,Austria,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,181.000,True
3,Aruba,Austria,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,181.000,True
4,Aruba,Austria,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,227.000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207531,Zimbabwe,Zambia,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,66.900,True
207532,Zimbabwe,Zambia,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,93.700,True
207533,Zimbabwe,Zambia,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,79.400,True
207534,Zimbabwe,Zambia,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,276.000,True
207535,Zimbabwe,Zambia,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,222.000,True

In [85]:
res=res[res['exist']]
res

,imp,exp,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check,gvc,exist
0,Aruba,Austria,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,117.386,True
1,Aruba,Austria,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,141.000,True
2,Aruba,Austria,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,181.000,True
3,Aruba,Austria,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,181.000,True
4,Aruba,Austria,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,NaN,NaN,0,0.0,227.000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207531,Zimbabwe,Zambia,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,66.900,True
207532,Zimbabwe,Zambia,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,93.700,True
207533,Zimbabwe,Zambia,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,79.400,True
207534,Zimbabwe,Zambia,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,276.000,True
207535,Zimbabwe,Zambia,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1,1,1.0,0.0,218,0.0,222.000,True

In [87]:
res.drop('exist',axis=1,inplace=True)
res

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,imp,exp,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,TF_prov_50,TF_prov_51,TF_prov_52,PTA,PTA_mapped,anti_dumping,cvd,depth,check,gvc
0,Aruba,Austria,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,117.386
1,Aruba,Austria,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,141.000
2,Aruba,Austria,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,181.000
3,Aruba,Austria,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,181.000
4,Aruba,Austria,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,0,NaN,NaN,0,0.0,227.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207531,Zimbabwe,Zambia,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,66.900
207532,Zimbabwe,Zambia,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,93.700
207533,Zimbabwe,Zambia,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,79.400
207534,Zimbabwe,Zambia,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,276.000
207535,Zimbabwe,Zambia,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1,1,1.0,0.0,218,0.0,222.000

In [89]:
# res.to_csv("Data.csv")

In [ ]:
codes=pd.read_excel("iso_3digit_alpha_country_codes.xls")

In [ ]:
res=pd.read_csv("Data1.csv")
res=res.merge(codes,left_on='exp',right_on='Definition',how='left')
res.drop(['exp','Definition'],axis=1,inplace=True)
res.rename(columns={'Code Value':'iso_j'},inplace=True)
cols = res.columns.tolist()
cols = cols[-1:] + cols[:-1]
res=res[cols]
res=res.merge(codes,left_on='imp',right_on='Definition',how='left')
res.drop(['imp','Definition'],axis=1,inplace=True)
res.rename(columns={'Code Value':'iso_i'},inplace=True)
cols = res.columns.tolist()
cols = cols[-1:] + cols[:-1]
res=res[cols]
res

In [ ]:
df=pd.read_excel("GVCs_gravitydataset.xlsx")
df

In [3]:
res1=pd.merge(res,df,on=['iso3_o','iso3_d','year'],how='left',indicator='exist')
res1=res1[res1.exist=='both']
res1

,iso3_o,iso3_d,year,AD_prov_01,AD_prov_02,AD_prov_03,AD_prov_04,AD_prov_05,AD_prov_06,AD_prov_07,...,gdpcap_o,gdpcap_d,gdp_ppp_o,gdp_ppp_d,gdpcap_ppp_o,gdpcap_ppp_d,pop_pwt_o,pop_pwt_d,gdp_ppp_pwt_o,gdp_ppp_pwt_d
0,ABW,AUT,1990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,21.629,NaN,150000000.0,NaN,19.394,62.149,7723.949,2412750.0,194000000.0
1,ABW,AUT,1991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,22.357,NaN,160000000.0,NaN,20.524,64.622,7772.701,2216298.0,205000000.0
2,ABW,AUT,1992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,24.820,NaN,170000000.0,NaN,21.196,68.235,7830.933,2977463.0,214000000.0
3,ABW,AUT,1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,24.024,NaN,170000000.0,NaN,21.636,72.504,7892.086,3312828.0,218000000.0
4,ABW,AUT,1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,17.342,25.585,NaN,180000000.0,NaN,22.540,76.700,7947.209,3744095.0,227000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165251,ZWE,ZMB,2013,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.953,1.845,30000000.0,56000000.0,1.967,3.701,15054.510,15153.210,28200000.0,53600000.0
165252,ZWE,ZMB,2014,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.027,1.738,31000000.0,60000000.0,2.010,3.826,15411.680,15620.970,29600000.0,56300000.0
165253,ZWE,ZMB,2015,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.019,1.314,32000000.0,62000000.0,2.013,3.862,15777.450,16100.590,30400000.0,57300000.0
165254,ZWE,ZMB,2016,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.009,1.178,32000000.0,65000000.0,2.006,3.922,16150.360,16591.390,31200000.0,59100000.0
165255,ZWE,ZMB,2017,1.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.548,1.535,43000000.0,59000000.0,3.028,3.485,16529.900,17094.130,33000000.0,65600000.0